.art_yt {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.art_yt  iframe,
.art_yt  object,
.art_yt  embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.ivs-left {
    text-align: left
}

.ivs-center {
    text-align: center
}

.ivs-right {
    text-align: right
}

.ivs-none {
    display: none
}
